<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
      /* Add styles to the background image */
      body {
        background-image: url('/assets/pic7.png');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
      }
      
      /* Center align the login form */
      .login-form {
        display: block;
        margin: 0 auto;
        width: 400px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px #888888;
      }
      
      /* Style the form input fields */
      .form-input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px #888888;
      }
      
      /* Style the form submit button */
      .form-submit {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: #4CAF50;
        border: none;
        color: #ffffff;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      /* Style the form submit button on hover */
      .form-submit:hover {
        background-color: #3e8e41;
      }
      
      /* Style the form error message */
      .form-error {
        color: red;
        font-size: 14px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h2>Login Here</h2>
      <%= form_with url: sessions_path, local: true do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-input", autofocus: true %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-input" %>
        <%= f.submit "Log In", class: "form-submit" %>
      <% end %>
      <% if flash[:error] %>
        <div class="form-error"><%= flash[:error] %></div>
      <% end %>
    </div>
  </body>
</html>