<div id="main_content">
  <!DOCTYPE html>
  <html>
    <head>
      <style>
        /* Add styles to the background image */
        body {
          background-image: url('/assets/pic5.png');
          background-repeat: no-repeat;
          background-size: cover;
          font-family: Arial, sans-serif;
          color: #ffffff;
          /* Set background color with 80% opacity */
          background-color: rgba(0, 0, 0, 0.3) !important;
        }
        
        /* Center align the login form */
        #login-form {
          margin: 0 auto;
          width: 400px;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 20px;
          border-radius: 10px;
        }
        
        /* Style the input fields */
        input[type="text"],
        input[type="password"] {
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          box-sizing: border-box;
          border: none;
          border-radius: 4px;
          font-size: 16px;
        }
        
        /* Style the login button */
        input[type="submit"] {
          background-color:#b05a6d;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          width: 100%;
          font-size: 16px;
        }
  
        #login-link {
          display: block;
          margin: 0 auto;
          width: 200px;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 20px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
        }
        
        /* Style the login button on hover */
        input[type="submit"]:hover {
          background-color: #b05a6d;
        }
      </style>
    </head>
    <body>
      <div class="container">
        <h1 class="center">Welcome to the Cafe23!</h1>

        <div class="col s9">
    <div class="carousel">
      <a class="carousel-item" href="#two"><%= image_tag 'pic2.png' %></a>
      <a class="carousel-item" href="#one"><%= image_tag 'pic3.png' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'pic4.png' %></a>
      <a class="carousel-item" href="#four"><%= image_tag 'pic5.png' %></a>
      <a class="carousel-item" href="#five"><%= image_tag 'pic1.png' %></a>
  </div>
        

       
      </div>

      <% if current_user %>
       
      <% else %>
        <%= link_to 'Login', login_path, id: 'login-link' %>
      <% end %>
    </body>
  </html>
  
  <% if current_user && current_user.employee_role? %>
  <% upcoming_shifts = current_user.shifts.upcoming.order(date: :asc, start_time: :asc, end_time: :asc) %>
  <% if upcoming_shifts.any? %>
    <h3>Upcoming Shifts:</h3>
    <ul>
      <% upcoming_shifts.each do |shift| %>
        <li><%= shift.date.strftime("%A, %B %d") %> - <%= shift.start_time.strftime("%I:%M %p") %> to <%= shift.end_time.strftime("%I:%M %p") %></li>
        <% if shift.date == Date.today && shift.status == "pending" %>
          <%= link_to 'Start Shift', time_in_path(shift), method: :patch, id: "start-shift-button", class: 'btn btn-primary' %>
        <% elsif shift.date == Date.today && shift.status == "started" %>
          <%= link_to 'End Shift', time_out_path(shift), method: :patch, id: "end-shift-button", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>You don't have any upcoming shifts.</p>
  <% end %>
<% end %>

<% if current_user && current_user.manager_role? || current_user && current_user.admin_role?  %>
  <%= link_to 'Store Payroll', store_form_path, class: 'btn btn-primary' %>
<% end %>

<% if current_user && current_user.admin_role?  %>
  <%= link_to 'Employee Payroll', employee_form_path, class: 'btn btn-primary' %>
<% end %>
</div>