<style>
body {
  background-image: url('/assets/pic5.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #ffffff;
  /* Set background color with 80% opacity */
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.form-container {
  margin: 50px auto 0;
  width: 50%;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

  h3 {
    text-align: center;
    color: white;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="date"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
  }

  input[type="submit"] {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #0069D9;
  }
</style>

<div class="form-container">
<%= form_with(model: @shift, local: true) do |form| %>
    <% if @shift.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>
  
        <ul>
          <% @shift.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :employee_id %>
      <%= form.collection_select :employee_id, Employee.active.where(role: 'employee'), :id, :proper_name %>
    </div>

    <div class="field">
      <%= form.label :assignment_id, "Assignment (associated with employee)" %>
      <%= form.collection_select :assignment_id, Assignment.current.map { |a| [a.employee.proper_name, a.id] }, :last, :first, prompt: true %>
    </div>
  
    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>
  
    <div class="field">
      <%= form.label :start_time %>
      <%= form.time_field :start_time %>
    </div>
  
    <div class="field">
      <%= form.label :end_time %>
      <%= form.time_field :end_time %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

</div>