<style>
h3 {
  text-align: center;
  color: black;
}
</style>

<h3>Pay Grades</h3>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Current Rate</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pay_grades.each do |pay_grade| %>
      <tr>
        <td><%= pay_grade.level %></td>
        <td><%= pay_grade.current_rate&.rate %></td>
        <td><%= link_to 'Edit', edit_pay_grade_path(pay_grade) %></td>
        <td><%= link_to 'Delete', pay_grade_path(pay_grade), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Create a New Assignment', new_assignment_path, class: 'btn btn-primary' %>

