<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag 'custom' %>
    <title> Cafe23 Management System</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
  </head>

  <body>
    <header>
    <!-- Partials for the topbar and navigation -->
    
    <%= render :partial => "partials/topbar" %>
    <% if logged_in? && ( current_user.admin_role? || current_user.manager_role? || current_user.employee_role? ) %>
      <%= render :partial => "partials/nav" %>
      <% else %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Login', login_path %>
      </li>
    </ul>
    <% end %>
    </header>

    <main>
          <!-- Flash messages appear here -->
          <%= render :partial => "partials/flash" %>

          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <%= yield %>

    </main>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>   
    <%= render :partial => "partials/footer" %> 
  </body>
</html>